<section class="{{styles.profile}}">
    {{> avatar imageLink="https://i.pinimg.com/474x/b6/14/86/b6148613c57f320a1a257cad5dccf061--art.jpg"}}
    <form>
        {{> input name="oldPassword" label="Старый пароль" value="12345678" type="password" disabled=""}}
        {{> input name="newPassword" label="Новый пароль" value="87654321" type="password" disabled=""}}
        {{> input name="repeatPassword" label="Повторите новый пароль" value="87654321" type="password" disabled=""}}
        {{> buttonSubmit text="Сохранить" }}
    </form>

</section>