<section class="{{styles.profile}}">
    {{> avatar }}
    <form>
        {{> input name="oldPassword" label="Старый пароль" value="12345678" type="password" disabled=""}}
        {{> input name="newPassword" label="Новый пароль" value="87654321" type="password" disabled=""}}
        {{> input name="repeatPassword" label="Повторите новый пароль" value="87654321" type="password" disabled=""}}
        {{> buttonSubmit text="Сохранить" }}
    </form>
</section>
