<h1 class="{{styles.title}}">Загрузите файл</h1>
<form class="{{styles.form}}" id="avatarForm">
  <div class="{{styles.inputFile}}">
    <input id="avatar" type="file" name="avatar" accept="image/*"/>
    <label for="avatar">Выбрать файл на компьютере</label>
  </div>
  {{{ button }}}
</form>
