<section class="{{styles.section}}">
  <nav>
    <a href="/profile">Профиль</a>
    <input type="text" placeholder="Поиск"/>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <div class="{{styles.chat}}">

  </div>
  {{> link href="/" text="Назад к чатам" }}
</section>
