<section class="{{styles.section}}">
  <nav>
    <a href="/profile">Профиль</a>
    <input type="text" placeholder="Поиск"/>
    <ul>
      {{#each recipients}}
        <li>{{> recipient recipient=this}}</li>
      {{/each}}
    </ul>
  </nav>
  <div class="{{styles.chat}}">

  </div>
  {{> link href="/" text="Назад к чатам" }}
</section>
