<h1 class="{{styles.title}}">Загрузите файл</h1>
<form class="{{styles.form}}">
  <div class="{{styles.inputFile}}">
    <input type="file" id="input-file"/>
    <label for="input-file">Выбрать файл на компьютере</label>
  </div>
    {{> buttonSubmit text="Поменять" }}
</form>