@import "../fonts/fonts.scss";
@import "../fonts/normalize.css";
@import "./variables.scss";

#main {
  display: flex;
  min-height: 100vh;
}

* {
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
  color: $primary-color;
}
