.auth-input {
	display: flex;
	flex-direction: column;

	label {
		font-weight: 500;
		font-size: 9px;
		line-height: 9px;
		color: #999;
		margin-bottom: 1px;
	}

	input {
		font-family: Inter;
		font-size: 13px;
		font-weight: 500;
		line-height: 13px;
		color: #1E1E1E;
		padding: 7px 0;
		border: none;
		border-bottom: 1px solid #3369F3;
		width: 100%;

		&:focus {
			outline: none;
			border-bottom: 1px solid #80a4ff;
		}
	}

	span {
		font-size: 8px;
		line-height: 8px;
		color: #FF2F2F;
		margin-top: 7px;
	}
}