.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 20px;
  }
  
  .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 69px;
  }

  a {
    text-align: center;
  }
}
