<div class="{{styles.avatar}}">
	{{#if imageLink}}<img class="{{styles.image}}" src="{{imageLink}}" alt="Аватар пользователя" />{{/if}}
  <div class="{{styles.overlay}}"><p>Поменять аватар</p></div>
</div>

